.about {
  padding: 2.813rem 0;
  background: $ebony-clay;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.313rem;

    &-paragraph {
      font-size: 2.25rem;
      color: $white;
      text-align: center;
      align-self: center;
      width: 100%;
      padding-bottom: 1.313rem;
      border-bottom: 0.063rem solid $white;
 

      &:last-child {
        padding-bottom: 0;
        border-bottom: none;
      }
     
    }  

    &-text {
      width: 59.875rem;
    }

    &-price {
      width: 42.063rem;
    }

  }
}