.advantages {
  padding: 4rem 0 5.625rem 0;

  &__title {
  font-family: "Grandis Extended", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 4.75rem;
  }

  &__section {
    display: flex;
    flex-direction: row;
    gap: 4.75rem;

    &-img {
      width: 31.438rem;
      height: 28.938rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    &-img {
      width: 4.063rem;
      height: 4.063rem;
    }

    &-text {
      font-family:"Gilroy", sans-serif;
      display: flex;
      flex-direction: column;
      gap:  0.688rem;

      h3 {

        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.813rem;
        padding-bottom: 0.688rem;
        border-bottom: 0.063rem solid $rangoon-green;
      }

      p {
         font-size: 1rem;
         line-height: 1.188rem;
      }
    }
  }

  &__container-wrap {
    display: flex;
    flex-direction: row;
    gap: 1.25rem;

  
  }
}