.contacts {
  padding: 2.813rem 0 2.3rem 0; 

  h2 {
    font-family: "Grandis Extended", sans-serif;
    font-size: 3rem;            
    font-weight: 700;
    line-height: 3.625rem;      
    margin-bottom: 2.125rem;    
  }

  &__sections {
    display: flex;
    flex-direction: column;
    gap: 1rem;                  
  }

  &__section {
    display: flex;
    align-items: center;
    gap: 1.75rem;              
    text-decoration: none;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.6875rem;         
      height: 3.75rem;        
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &-text {
      font-family: "Gilroy", sans-serif;
      font-size: 1.5rem;       
      font-weight: 500;
      line-height: 1.8125rem;   
      color: $rangoon-green;
    }
  }
}

.phone {
  //  background-image: url('#{$base-url}/assets/icons/phone.svg');
  background-image: url('../../assets/icons/phone.svg');
}

.mail {
  //  background-image: url('#{$base-url}/assets/icons/mail.svg');
  background-image: url('../../assets/icons/mail.svg');
}

.place {
  //  background-image: url('#{$base-url}/assets/icons/map.svg');
   background-image: url('../../assets/icons/map.svg');
}
