.credit {
  position: relative;
  padding: 3.938rem 0 4.563rem 0;
  background-color: $lemon-green;
  font-family: "Unbounded", sans-serif;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../../assets/icons/credit__line.svg);
    bottom: 2.314rem;
    right: 11.181rem;
    width: 17.744rem;
    height: 9.528rem;
    background-repeat: no-repeat;
    background-size: cover;
  

  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2.938rem;
    align-items: center;

    
      &-paragraph {
        font-size: 2.25rem;
        text-align: center;
        line-height: 2.813rem;
        color: $ebony-clay;
        font-weight: 400;
      }
    
      &-span {
        font-weight: 700;
      }
    
      &-btn {
        @include btn($white, $ebony-clay, 2.25rem, 0.531rem, 7.094rem, 0.831rem, 7.094rem,  6.25rem);
        text-decoration: underline;
        font-weight: 600;
        text-decoration-color: $ebony-clay;
        text-underline-offset: 0.5rem;
        font-family:  "Gilroy", sans-serif;;
      }
  }

}