.footer {
  padding: 3.563rem 0 2.875rem 0;

  &__section {
    display: flex;
    justify-content: center;

    &-link {
      font-size: 1.25rem;
      font-weight: 300;
      line-height: 1.5rem;
    }
  }
}