.invite {
  padding: 4.125rem 0 3.688rem 0;
  background: url(../../assets/img/invite-background.png) no-repeat;
  background-size: contain;
  background-position: top 0 right 0;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2.938rem;
  }

  &__item {

    display: flex;
    flex-direction: column;
    gap: 2.938rem;

    &-paragraph {
      font-family: "Actay Wide", sans-serif;
      width: 36.813rem;
      padding: 0.5rem 1.813rem;
      font-size: 1.5rem;
      line-height: 1.875rem;
      border: 0.063rem solid $dark-jungle-green;
      border-radius: 6.25rem;
    }

    &-text {
      font-family: "Grandis Extended", sans-serif;
      padding-left: 1.969rem;
      font-size: 2.25rem;
      line-height: 2.875rem;
      width: 46.188rem;
    }

    &-span {
      font-weight: 500;
    }

    &-wrapp {
      position: relative;
      font-weight: 700;

      &::before {
        content: '';
        position: absolute;
        background-image: url(../../assets/icons/invite-line.svg);
        background-repeat: no-repeat;
        background-size: contain;
    width: 100%;
    height: 1.375rem;
    bottom: -1.538rem;
    left: 0;

      }
    }

  }
}