.requirement {
  padding: 2.5rem 0;
  background: $blue-lotus;

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;

    &-paragraph {
      font-family: "Gilroy", sans-serif;
      color: $white;
      font-weight: 600;
      font-size: 2.25rem;
      text-transform: uppercase;
text-align: center;
    }

    &-span {
      font-weight: 700;
      color: $white;
    }
  }
}